body {
    color: #444;
}
h3 {
    color: green;
}
#alarm {
    color: red;
    position: absolute;
    top:40%;
    left:40%;
    font-size: 50px;
}
.divAlarm {
    font-size: 20px;
}
.divAlarm__input {
    padding: 10px;
    width: 100px;
    font-size: inherit;
}
.divAlarm__btn {
    padding: 10px;
    font-size: inherit;
}